Repository RickLeinecker/SeeShells, pull requests merged in 2020-02, with the labels that each got.

#123 Update CI and edit licenses
  .github/workflows/ApiBuildTest.yml
  .github/workflows/WPFUnitTests.yml
  .github/workflows/WebsiteBuildTest.yml
  api/package.json
  docs/package.json
Labels: API, Website

#131 Added functionality to the browse/update buttons on the home page
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/SeeShellsSolid.ico
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/ViewModels/FileLocations.cs
Labels: WPF

#133 Timeline
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShells/packages.config
Labels: WPF

#132 Adds new event filters GUI
  WPF/SeeShells/SeeShells/UI/EventFilters/INodeFilter.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeCollection.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#134 Browse button for offline hive lets user select .reg file and user can select OS Version
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Templates/CheckBoxWithLabel.xaml
  WPF/SeeShells/SeeShells/UI/Templates/CheckBoxWithLabel.xaml.cs
  WPF/SeeShells/SeeShells/UI/ViewModels/FileLocations.cs
Labels: WPF

#135 Enables Parse Button
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/ShellParser/ConfigParser.cs
  WPF/SeeShells/SeeShells/ShellParser/IConfigParser.cs
  WPF/SeeShells/SeeShells/ShellParser/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellBagParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellBagParserTests.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellParserMocks/MockConfigParser.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellParserMocks/OfflineMockConfigParser.cs
Labels: WPF

#141 Update Parse Button to work with Timeline
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#144 Timeline Spacing Slider Control
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#125 Event parser
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Event.cs
  WPF/SeeShells/SeeShells/UI/EventParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShellsTests/SeeShellsTests.csproj
  WPF/SeeShells/SeeShellsTests/UI/EventParserTest.cs
Labels: WPF

#145 Improves rescaling runtime speed.
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#150 Multiple offline files can be chosen.
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/ViewModels/FileLocations.cs
Labels: WPF

#156 HTML Output
  WPF/SeeShells/SeeShells/IO/HtmlIO.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShellsTests/IO/HtmlIOTests.cs
  WPF/SeeShells/SeeShellsTests/SeeShellsTests.csproj
Labels: WPF

#159 Adds multiselect to event type filter and fixes combobox duplications
  WPF/SeeShells/SeeShells/UI/EventFilters/EventNameFilter.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#157 #140 Removes requirement of a script.json to parse
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#158 #155 fixes various filtering errors
  WPF/SeeShells/SeeShells/UI/EventFilters/AnyStringFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/DateRangeFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventNameFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventParentFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventTypeFilter.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeCollection.cs
  WPF/SeeShells/SeeShellsTests/UI/NodeFilterTests.cs
Labels: WPF

#163 Connect the CsvIO to UI checkbox
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#167 Add script API endpoint adds a script to the database
  api/databaseconnection.js
  api/index.js
  api/package-lock.json
  api/package.json
Labels: API

#169 NLog Fixed
  .gitignore
  WPF/SeeShells/.gitignore
  WPF/SeeShells/SeeShells/IO/Networking/API.cs
  WPF/SeeShells/SeeShells/NLog.config
  WPF/SeeShells/SeeShells/UI/MainWindow.xaml.cs
Labels: WPF

#171 Order events by ascending eventTimes during list creation
  WPF/SeeShells/SeeShells/UI/EventParser.cs
  WPF/SeeShells/SeeShellsTests/UI/EventParserTest.cs
Labels: WPF

#172 Embedded Scripting
  WPF/SeeShells/SeeShells/IO/Networking/API.cs
  WPF/SeeShells/SeeShells/IO/Networking/JSON/ScriptPair.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/ShellParser/ConfigParser.cs
  WPF/SeeShells/SeeShells/ShellParser/Scripting/LuaShellItem.cs
  WPF/SeeShells/SeeShells/ShellParser/Scripting/ScriptHandler.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItemList.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#175 possible fixes
  .github/workflows/WebsiteBuildTest.yml
  docs/.babelrc
  docs/.editorconfig
  docs/.gitignore
  docs/.postcssrc.js
  docs/README.md
  docs/babel.config.js
  docs/build/build.js
  docs/build/check-versions.js
  docs/build/logo.png
  docs/build/utils.js
  docs/build/vue-loader.conf.js
  docs/build/webpack.base.conf.js
  docs/build/webpack.dev.conf.js
  docs/build/webpack.prod.conf.js
  docs/config/dev.env.js
  docs/config/index.js
  docs/config/prod.env.js
  docs/package-lock.json
  docs/package.json
  docs/public/favicon.ico
  docs/public/index.html
  docs/readme.md
  docs/src/App.vue
  docs/src/components/HelloWorld.vue
  docs/src/main.js
  docs/static/.gitkeep
  docs/yarn.lock
Labels: Website

#182 changing directory
  docs/index.html
Labels: Website

#176 Adds backend support for passing ShellBag registry owners
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/ShellParser/Program.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/IRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryHelper.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryShellItemDecorator.cs
  WPF/SeeShells/SeeShells/ShellParser/RegistryKeyWrapper.cs
  WPF/SeeShells/SeeShells/ShellParser/RegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellBagParser.cs
  WPF/SeeShells/SeeShells/UI/EventParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/OfflineRegistryReaderTests.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/OnlineRegistryReaderTests.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellBagParserTests.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellItems/ShellItemsTests.cs
Labels: WPF

#178 Updated login and register endpoints and added authentication checks
  api/databaseconnection.js
  api/helpers/JSONhelper.js
  api/index.js
  api/package-lock.json
  api/package.json
Labels: API

#179 Blocked button operations while parsing is in progress.
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#184 fixed styling
  docs/index.html
Labels: Website

#183 Adds UI Filter for Users
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/EventFilters/EventUserFilter.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShellsTests/UI/Mocks/MockShellItem.cs
  WPF/SeeShells/SeeShellsTests/UI/NodeFilterTests.cs
Labels: WPF

#186 Timeline Remastered
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#185 Adds Offline username retrieval support
  WPF/SeeShells/SeeShells/ShellParser/ConfigParser.cs
  WPF/SeeShells/SeeShells/ShellParser/IConfigParser.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellBagParserTests.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellParserMocks/MockConfigParser.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellParserMocks/OfflineMockConfigParser.cs
Labels: WPF

#190 Get and change help info API endpoints created
  api/databaseconnection.js
  api/index.js
Labels: API

#193 Adds Toolbar to Application
  WPF/SeeShells/SeeShells/App.xaml
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/HelpPage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
Labels: WPF
