Repository RickLeinecker/SeeShells, pull requests merged in 2020-04, with the labels that each got.

#298 Bug Fix
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
Labels: WPF

#307 Fixes outdated Regex matching filter
  WPF/SeeShells/SeeShells/UI/EventFilters/AnyStringFilter.cs
Labels: WPF, bug

#305 Fix End Date Filter UI not being inclusive of the date
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF, bug

#308 Updates Help with Timeline and Toolbar documentation
  WPF/SeeShells/Help.md
Labels: WPF

#302 Website change how JSON is sent
  docs/css/app.d76a6bed.css
  docs/index.html
  docs/js/app.d90a012c.js
  docs/js/app.d90a012c.js.map
  website/src/components/GetScript.vue
  website/src/components/Home.vue
  website/src/components/LoginForm.vue
  website/src/components/NewGUID.vue
  website/src/components/NewUsers.vue
  website/src/components/RegisterForm.vue
  website/src/components/TeamMembers.vue
  website/src/components/ViewGUIDs.vue
Labels: Website

#306 Website Modify OS Config
  api/databaseconnection.js
  api/helpers/JSONhelper.js
  api/index.js
  docs/css/app.9861e6a7.css
  docs/index.html
  docs/js/app.a099d20a.js
  docs/js/app.a099d20a.js.map
  website/src/components/AdministrativeLoggedIn.vue
  website/src/components/ModifyOSPage.vue
  website/src/components/NewOS.vue
  website/src/components/ViewOSandFiles.vue
  website/src/routes.js
Labels: API, Website

#309 Freeze UI when parsing
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#300 Modifies the offline parser to retrieve additional time based registry metadata for shellitems
  WPF/SeeShells/SeeShells/ShellParser/Registry/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
Labels: WPF

#310 The SeeShells .exe now runs on its own
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/FodyWeavers.xml
  WPF/SeeShells/SeeShells/FodyWeavers.xsd
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/packages.config
Labels: WPF

#316 Navigation/refresh doesn't display 404 page.
  docs/404.html
  docs/css/chunk-vendors.6af9d10e.css
  docs/index.html
  docs/js/app.f5cf09cc.js
  docs/js/app.f5cf09cc.js.map
  docs/js/chunk-vendors.55fed07f.js
  docs/js/chunk-vendors.55fed07f.js.map
  website/package.json
  website/public/404.html
  website/src/main.js
  website/yarn.lock
Labels: Website

#321 Fixes the RegistryPath value for events.
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
Labels: WPF, bug

#322 Admin can update help page
  docs/css/app.8350a4bb.css
  docs/css/app.dd3c8547.css
  docs/index.html
  docs/js/app.ba379883.js
  docs/js/app.ba379883.js.map
  docs/js/app.ead456c0.js
  docs/js/app.ead456c0.js.map
  website/package.json
  website/src/components/About.vue
  website/src/components/AdministrativeLoggedIn.vue
  website/src/components/HelpPage.vue
  website/src/components/Home.vue
  website/src/components/UpdateHelpPage.vue
  website/src/routes.js
Labels: Website

#325 Adds single node navigation capability
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Node/NodeNavigation.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShells/UI/Templates/NodeStyle.xaml
Labels: WPF

#326 clears timeline when re-parsing
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#324 Adds a context menu on right click
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#328 Refactor Property names to centralized location
  WPF/SeeShells/SeeShells/Constants.cs
  WPF/SeeShells/SeeShells/IO/CsvParsedShellItem.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryShellItemDecorator.cs
  WPF/SeeShells/SeeShells/ShellParser/Scripting/LuaShellItem.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ExtensionBlocks/ExtensionBlock.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ExtensionBlocks/ExtensionBlockBEEF0004.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/SHITEM_UNKNOWNENTRY2.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x00.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x1F.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x30.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x40.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x4D.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x61.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x71.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x74.cs
Labels: WPF

#327 Adds Save Dialog to Update Buttons
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#329 Fixed bugged 0x74 ShellItem Parsing
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x74.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellItems/ShellItemsTests.cs
Labels: WPF

#330 Refactor messages
  docs/css/app.50f98375.css
  docs/css/app.9ed20f80.css
  docs/index.html
  docs/js/app.6b106ba8.js
  docs/js/app.6b106ba8.js.map
  docs/js/app.a600d0ed.js
  docs/js/app.a600d0ed.js.map
  website/src/components/AdministrativeLoggedIn.vue
  website/src/components/GetScript.vue
  website/src/components/LoginForm.vue
  website/src/components/ModifyOSPage.vue
  website/src/components/NewGUID.vue
  website/src/components/NewOS.vue
  website/src/components/RegisterForm.vue
  website/src/components/TeamMembers.vue
  website/src/components/UpdateHelpPage.vue
  website/src/components/ViewGUIDs.vue
  website/src/components/ViewOSandFiles.vue
Labels: API, Website

#331 Fixed negative height issue
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#332 Online parsing resolves actual user name before showing SID.
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
Labels: WPF

#335 Fixes Online Multi-User Support
  WPF/SeeShells/Help.md
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#336 Fixes Offline parsing & Updates Registry.dll to 1.1.0.5
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/ShellParser/Registry/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShells/app.config
  WPF/SeeShells/SeeShells/packages.config
  WPF/SeeShells/SeeShells/resources/CommandLine.dll
  WPF/SeeShells/SeeShells/resources/NFluent.dll
  WPF/SeeShells/SeeShells/resources/Registry.dll
  WPF/SeeShells/SeeShellsTests/App.config
  WPF/SeeShells/SeeShellsTests/SeeShellsTests.csproj
Labels: WPF

#339 Disable Multi-User Checkbox while parsing
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#341 Correct link to favicon
  docs/index.html
  website/public/index.html
Labels: Website

#342 Fix IO Error handling for hives and CSV files and various related bugs
  WPF/SeeShells/SeeShells/IO/CsvIO.cs
  WPF/SeeShells/SeeShells/IO/CsvParsedShellItem.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/ShellParser/Registry/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/IShellItem.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItem0x00.cs
  WPF/SeeShells/SeeShells/UI/LogAggregator.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Templates/Switch.xaml.cs
Labels: WPF, bug

#343 Fixed Alignment
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
Labels: WPF, bug
