Repository RickLeinecker/SeeShells, pull requests merged in 2020-03, with the labels that each got.

#195 Filterable timeline
  WPF/SeeShells/SeeShells/UI/Node/NodeCollection.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#197 Adds default configuration support to WPF
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/ShellParser/ConfigParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/resources/defaultOS.json
Labels: WPF

#198 Clear all filters on new parsing attempt
  WPF/SeeShells/SeeShells/UI/Node/NodeCollection.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShellsTests/SeeShellsTests.csproj
  WPF/SeeShells/SeeShellsTests/UI/Mocks/MockNodeFilter.cs
  WPF/SeeShells/SeeShellsTests/UI/NodeCollectionTest.cs
Labels: WPF

#211 Special character support for CSV Import/Export
  WPF/SeeShells/SeeShells/IO/CsvIO.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/packages.config
  WPF/SeeShells/SeeShellsTests/IO/CsvIOTests.cs
Labels: WPF

#216 Node fixes
  WPF/SeeShells/SeeShells/UI/EventFilters/AnyStringFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/DateRangeFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventNameFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventParentFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventTypeFilter.cs
  WPF/SeeShells/SeeShells/UI/EventFilters/EventUserFilter.cs
  WPF/SeeShells/SeeShells/UI/Node/Node.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeCollection.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShellsTests/IO/HtmlIOTests.cs
  WPF/SeeShells/SeeShellsTests/SeeShellsTests.csproj
  WPF/SeeShells/SeeShellsTests/UI/Mocks/MockNode.cs
  WPF/SeeShells/SeeShellsTests/UI/Mocks/MockNodeFilter.cs
  WPF/SeeShells/SeeShellsTests/UI/NodeCollectionTest.cs
  WPF/SeeShells/SeeShellsTests/UI/NodeFilterTests.cs
  WPF/SeeShells/SeeShellsTests/packages.config
Labels: WPF

#218 Moved apiEndpoint.txt into public folder.
  docs/apiEndpoint.txt
  website/public/apiEndpoint.txt
Labels: Website

#224 No More Stacked Nodes
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Node/StackedNodes.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#226 Pretty timeline
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Node/StackedNodes.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#228 Adds Proof of Concept Markdown rendering for WPF Help
  WPF/SeeShells/README.md
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Pages/HelpPage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/HelpPage.xaml.cs
  WPF/SeeShells/SeeShells/packages.config
Labels: WPF

#235 Adds Support for getting Help content from API
  WPF/SeeShells/SeeShells/IO/Networking/API.cs
  WPF/SeeShells/SeeShells/IO/Networking/JSON/HelpItem.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Pages/HelpPage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/HelpPage.xaml.cs
  WPF/SeeShells/SeeShellsTests/IO/Networking/APITests.cs
  WPF/SeeShells/SeeShellsTests/TestResource/sampleHelp.md
  WPF/SeeShells/SeeShellsTests/TestResource/sampleHelpResponse.json
Labels: WPF

#239 Bug fix
  api/databaseconnection.js
  docs/css/app.d8be8745.css
  docs/js/app.9228a892.js
  docs/js/app.9228a892.js.map
Labels: API

#243 Clickable objects, hover objects, style
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Node/InfoBlock.cs
  WPF/SeeShells/SeeShells/UI/Node/Node.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Node/StackedNodes.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShells/UI/Templates/NodeStyle.xaml
  WPF/SeeShells/SeeShellsTests/IO/HtmlIOTests.cs
  WPF/SeeShells/SeeShellsTests/UI/Mocks/MockNode.cs
Labels: WPF

#247 Adds Home page content to the WPF Help
  WPF/SeeShells/Help.md
  WPF/SeeShells/README.md
  WPF/SeeShells/SeeShells/SeeShells.csproj
Labels: WPF

#251 Fixes bug when clearing Event User filter
  WPF/SeeShells/SeeShells/UI/EventFilters/EventUserFilter.cs
  WPF/SeeShells/SeeShellsTests/UI/NodeFilterTests.cs
Labels: WPF

#248 Adds About SeeShells window
  WPF/SeeShells/SeeShells/App.xaml
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Windows/AboutWindow.xaml
  WPF/SeeShells/SeeShells/UI/Windows/AboutWindow.xaml.cs
  WPF/SeeShells/SeeShells/resources/xceedLogo.png
Labels: WPF

#252 Change color of textblock when node is hovered over
  WPF/SeeShells/SeeShells/UI/Node/Node.cs
  WPF/SeeShells/SeeShells/UI/Node/StackedNodes.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShells/UI/Templates/NodeStyle.xaml
Labels: WPF

#249 Adds buttons to clear each individual filter
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#254 Update GUIDs on website
  api/databaseconnection.js
  api/index.js
  docs/css/app.28687e08.css
  docs/css/app.4a0272cd.css
  docs/css/app.d8be8745.css
  docs/index.html
  docs/js/app.0dcf8803.js
  docs/js/app.0dcf8803.js.map
  docs/js/app.9228a892.js
  docs/js/app.9228a892.js.map
  docs/js/app.9bdb481a.js
  docs/js/app.9bdb481a.js.map
  website/src/components/AdministrativeLoggedIn.vue
  website/src/components/GUIDPage.vue
  website/src/components/GetScript.vue
  website/src/components/LoginForm.vue
  website/src/components/NewGUID.vue
  website/src/components/NewUsers.vue
  website/src/components/RegisterForm.vue
  website/src/components/ViewGUIDs.vue
  website/src/main.js
  website/src/routes.js
Labels: API, Website

#260 Access parent filter with right click on an even't block
  WPF/SeeShells/SeeShells/UI/EventFilters/EventParentFilter.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#258 Position blocks horizontal
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#264 Lua script modifications
  WPF/SeeShells/SeeShells/ShellParser/Scripting/LuaShellItem.cs
  WPF/SeeShells/SeeShells/ShellParser/Scripting/ScriptHandler.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellItems/ShellItemList.cs
Labels: WPF

#220 Website main and about
  docs/css/app.3363a3e3.css
  docs/css/app.5fcf332e.css
  docs/index.html
  docs/js/app.12108ee9.js
  docs/js/app.12108ee9.js.map
  docs/js/app.f948fb92.js
  docs/js/app.f948fb92.js.map
  website/src/assets/SeeShellsBanner.png
  website/src/components/About.vue
  website/src/components/Home.vue
  website/src/components/NavigationBar.vue
  website/src/components/TeamMembers.vue
  website/src/routes.js
Labels: Website

#233 Homeand timeline navigation
  WPF/SeeShells/SeeShells/App.xaml
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/MainWindow.xaml
  WPF/SeeShells/SeeShells/UI/MainWindow.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Templates/Switch.xaml
  WPF/SeeShells/SeeShells/UI/Templates/Switch.xaml.cs
Labels: WPF

#266 Color changing blocks - Bug Fix
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF, bug

#267 Fixes bug where Offline parser crashes on reading UsrClass files
  WPF/SeeShells/SeeShells/ShellParser/Registry/OfflineRegistryReader.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/OfflineRegistryReaderTests.cs
  WPF/SeeShells/SeeShellsTests/ShellParser/ShellParserMocks/OfflineMockConfigParser.cs
  WPF/SeeShells/SeeShellsTests/TestResource/UsrClass.dat
Labels: WPF, bug

#270 fixes cutoff issue
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
Labels: WPF

#271 Adds additional Registry metadata from live/Online hives
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryHelper.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryShellItemDecorator.cs
  WPF/SeeShells/SeeShellsTests/SeeShellsTests.csproj
Labels: WPF

#234 Import csv
  WPF/SeeShells/SeeShells/App.xaml.cs
  WPF/SeeShells/SeeShells/UI/MainWindow.xaml
  WPF/SeeShells/SeeShells/UI/MainWindow.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Templates/Switch.xaml
  WPF/SeeShells/SeeShells/UI/Templates/Switch.xaml.cs
Labels: WPF

#272 Event click window
  WPF/SeeShells/SeeShells/App.xaml
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Node/InfoBlock.cs
  WPF/SeeShells/SeeShells/UI/Node/NodeParser.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
  WPF/SeeShells/SeeShells/UI/Windows/EventInformationWindow.xaml
  WPF/SeeShells/SeeShells/UI/Windows/EventInformationWindow.xaml.cs
Labels: WPF

#282 Possibe alignment modification
  WPF/SeeShells/SeeShells/UI/Node/Node.cs
  WPF/SeeShells/SeeShells/UI/Node/StackedNodes.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#283 Converts Registry obtained DateTimes into UTC
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
Labels: WPF

#285 Fixes HTML filtering and crashing on no save selection
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#274 Adds Absolute Path data to all ShellItems
  WPF/SeeShells/SeeShells/ShellParser/Registry/OnlineRegistryReader.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryKeyWrapper.cs
  WPF/SeeShells/SeeShells/ShellParser/Registry/RegistryShellItemDecorator.cs
  WPF/SeeShells/SeeShells/ShellParser/ShellBagParser.cs
Labels: WPF

#288 Prevents program crash when trying to write to a CSV file locked for editing
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#287 Timezone addition
  WPF/SeeShells/SeeShells/IO/HtmlIO.cs
  WPF/SeeShells/SeeShells/UI/Event.cs
  WPF/SeeShells/SeeShells/UI/EventParser.cs
  WPF/SeeShells/SeeShells/UI/IEvent.cs
  WPF/SeeShells/SeeShells/UI/Node/InfoBlock.cs
  WPF/SeeShells/SeeShellsTests/UI/Mocks/MockEvent.cs
Labels: WPF

#289 Warn when running without proper permissions
  WPF/SeeShells/SeeShells/SeeShells.csproj
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF

#286 Remaster gui
  WPF/SeeShells/SeeShells/App.xaml
  WPF/SeeShells/SeeShells/UI/MainWindow.xaml
  WPF/SeeShells/SeeShells/UI/Node/InfoBlock.cs
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Templates/NodeStyle.xaml
Labels: WPF

#292 Should write any error messages that crash the application.
  WPF/SeeShells/SeeShells/App.xaml.cs
Labels: WPF

#294 Bugfix/negativeheight
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#296 Remaster gui
  WPF/SeeShells/SeeShells/App.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml
  WPF/SeeShells/SeeShells/UI/Pages/TimelinePage.xaml.cs
Labels: WPF

#297 Adds Advanced Configuration conditional to invalid config warnings
  WPF/SeeShells/SeeShells/UI/Pages/Home.xaml.cs
Labels: WPF
